
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #1C2135;
}

.wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

label{
    color: #f0f0f080;
    font-weight: bold;
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid #3C496F;
    outline: none;
    color:white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
}

input[type=text]{
    width: 100%;
    max-width: 600px;
}


 button{
    margin: 20px;
    padding: 20px 40px;
    background: #1aab60;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    outline:none;
    cursor: pointer;
    width: max-content;
    border-radius: 100px;
}

button:hover{
    background: #1aab60A0;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    background: #1F1F1F;
    padding: 15px;
    bottom: 0;
    left: 0;
}

.alert {
    display: flex;
    flex-flow: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 10px 60px 0;
    color: white;
}

.infoContainer {
    display: none;
    margin-top: 10px;
    padding: 15px;
}

#error{
    background: #F00000A0;
}

#info{
    background:  #3C496FA0;
}

#success{
    background: #1aab60A0;
}