
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column;
}

.browser-container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.logo-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 100px;
}

.logo {
    width: 20%;
    height: 20%;
}

.query-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

#query {
    padding: 20px 40px;
    font-size: 18px;
    color: #1F1F1F;
    font-weight: 500;
    width: 100%;
    max-width: 800px;
    border-radius: 100px;
    border: 2px solid #DADADA;
}

#query:focus {
    border: 2px solid royalblue;
    outline: none;
}

#pages-container {
    display: none;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 200px 0;
}

.page-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1000px;
    padding: 30px 10px;
    border-bottom: 1px solid #DADADA;
}

#pages-container .page-container:last-of-type {
    border-bottom: none;
    margin-bottom: 50px;
}


.page-container p {
    font-size: 21px;
    line-height: 35px;
    color: #4E4E4E;
    padding: 0;
    margin: 15px 0px 0px 20px;
}


h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0;
}

h1, h2,h3, h4, h5, h6 {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

a {
    color: rgb(26, 13, 171);
    font-weight: 200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    background: #1F1F1F;
    padding: 15px;
    bottom: 0;
    left: 0;
}

.footer a{
    font-size: 10px;
    right: 50px;
    bottom: 8px;
    font-weight: bold;
    color: #A0A0A0;
    position: absolute;
    float: right;
    background: #3F3F3F;
    border:none;
    outline: none;
    padding: 10px;
}

#bt-more {
    border-radius: 100px;
    font-size: 40px;
    color: #909090;
    border: 2px solid #909090;
    background: NONE;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

#bt-more:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-16 22:51:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

