<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "Crawler/css/admin.css" %}">
    <title>Krurum</title>
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script src="{% static "Crawler/js/admin.js" %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <label for="start_page">Starting page</label>
            <input id="start_page" type="text" value="https://cs.wikipedia.org/wiki/Web_crawler" />
            <label for="thread_count">Threads count</label>
            <input id="thread_count" type="number" min="1" value="200" max="1000" />
            <label for="depth">Crawling depth</label>
            <input id="depth" type="number" min="0" max="5" value="3" />
            <button onclick="crawl()"> Crawl </button>
        </div>
        <div class="footer"> &copy; Milacek & Miklik</div>
        <div class="alert">
            <div class="infoContainer" id="info">
                <table>
                    <tr>
                        <td>Threads Done:</td>
                        <td id="cell_threadsDone">0</td>
                    </tr>
                    <tr>
                        <td>Crawled Pages:</td>
                        <td id="cell_crawledPages">0</td>
                    </tr>
                    <div class="progressBarOuter"></div>
                </table>
            </div>
            <div class="infoContainer" id="error"> Crawler is already running</div>
            <div class="infoContainer" id="success">Crawler done</div>
        </div>
</body>

</html>