<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "Crawler/css/index.css" %}">
    <title>Krurum</title>
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script src="{% static "Crawler/js/index.js" %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="browser-container">
                <div>
                    <div class="logo-container">
                        <img class="logo" src="{% static "Crawler/img/logo.png" %}" />
                    </div>
                    <div class="query-container">
                        <input id="query" type="text" />
                    </div>
                </div>
            </div>
            <div id="pages-container">

            </div>
        </div>
        <div class="footer">
            &copy;Lik Mi KoLacek
            <a href="/admin_console">ADMIN</button>
        </div>

</body>

</html>